@import "tailwindcss";

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-2xl: 1320px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
